/* 모든 html css 부분 */


a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  background-color: #69d2e7;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#logo {
  padding: 10px;
  width: 60px;
  height: 60px;
}

.content {
  grid-column: 1 / -1;
}

/*
*
*
*
*
*
contact.html css 부분 
*
*
*
*
*
*/

.container {
  height: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px auto;
}

.header {
  background-color: #2a2c2b;
  display: inline;
  position: sticky;
  box-shadow: 3px 3px 15px #374140;
  top: 0%;
  grid-column: 1 / -1;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav--img {
  margin-left: 50px;
}

.header__nav__menu > ul {
  list-style-type: none;
  margin-right: 50px;
}

.header__nav--links {
  display: flex;
  margin: 0px;
}

.nav--items {
  color: aliceblue;
  padding: 15px 15px;
}

.nav--items:hover {
  color: tomato;
}

.content__card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* box-shadow: 0 4px 8px 0 #203340 ; */
  transition: 0.3s;
  width: 300px;
  text-align: center;
  margin: 100px auto 0px auto;
}

.content__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  /* box-shadow: 0 8px 16px 0 #203340; */
}

.etc {
  margin-top: 50px;
  text-align: center;
}

#dark_white {
   /* display: flex;  */
  width: 150px;
  padding: 10px;
  border: 1px solid #000 ;
  cursor: pointer;
  background-color: #000;
  color: #69d2e7;
}

/*
*
*
*
*
*
contact.html css 부분 
*
*
*
*
*
*/

.contact__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.contact__box--sns {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 20px; */
} 

.contact__box--sns img {
  width: 40px;
  height: 40px;
}

